@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root {
    /* Base font size */
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fafafa;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem 2rem;
}

.heading {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    padding: 3.5rem 0;
    color: #1a1a1a;
}

.heading span {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.gallery-image:hover {
    transform: scale(1.15);
}

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery,
    .gallery-item {
        margin: 0;
    }
}

a {
    text-decoration: none;
    color: #ee964b;
}

a:hover {
    text-decoration: none;
    color: grey;
}

h1 {
    color: #0d3b66;
    font-family: sans-serif;
}

h2 {
    color: var(--color-grey);
}

/* Conteneur principal centré */
.share-container {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Bouton principal centré */
#shareButton {
    background-color: #f1f1f1;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    /* Centrage horizontal */
}

#shareButton:hover {
    background-color: #ddd;
}

/* Popup de partage (ouvre vers le haut) */
.share-popup {
    position: absolute;
    bottom: 80px;
    /* Positionne le popup au-dessus */
    right: 50;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0d3b66;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 1000;
}

.share-popup button,
.share-popup a {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: none;

    color: #333;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
}

.share-popup button:hover,
.share-popup a:hover {
    background-color: #ddd;
}

p {
    text-align: center;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}