@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat';
}
.box {
  height: 100vh;
  /*solution aux img superposées*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.presentation {
  width: 80%;
  height: auto;
  margin: 0em;
  padding: 2em;
}

img {
  object-fit: cover;
  width: 70vh;
  height: auto;
  top: 200px;
  left: 50%;
  transform: translate(-50%,-50%);
  position: fixed;
}

.b1 {
  background-color: #ffd508;
}
.b2 {
  background-color: #0f6cb4;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.menu {
  z-index:10;
  font-family: 'montserrat';
}
.menu,children:hover {
  color: black;
}
a {
  color: #0f6cb4;
  position: relative;
  text-decoration: none;
}
a:hover{
  transform: scale(1.2);
  color: white;
}

footer {
  background-color: white;
  color: #000;
  position: relative;
  top: 93%;
  text-align: center;
  
}
