<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Autoriser l'accès aux fichiers existants
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Rediriger toutes les autres requêtes
    RewriteRule ^(.*)$ /login.php [L]
</IfModule>